link(
    href="styles/reset.css"
    rel="stylesheet"
    type="text/css"
)
link(
    href="styles/font-awesome-4.7.0/css/font-awesome.css"
    rel="stylesheet"
    type="text/css"
)
link(
    href="styles/mystyle.css"
    rel="stylesheet"
    type="text/css"
)
link(
    href="img/BranD_logo.png"
    rel="icon"
    type="image/x-icon"
)

script( src="https://cdn.polyfill.io/v2/polyfill.min.js" )